baseURL = "https://danielborek.me"
languageCode = "en-us"
title = "Daniel Borek"
theme = ["hugo-redirect", 'lines']
enableGitInfo = true
enableEmoji =true

[module]
[[module.mounts]]
  excludeFiles = 'posts/Index.md'
  source = 'content'
  target = 'content'


[Author]
  name = "Daniel Borek"

[params]
  description = "Instrumental reflexes"
  author = "Daniel Borek"
  copyright = ""
  logo = ""
  orgName = "Daniel Borek"
  orgLocal = ""
  disableComments = false
  buildFuture = true
  
[params.giscus]
 repo="danieltomasz/danieltomasz.github.io"
 repo-id="MDEwOlJlcG9zaXRvcnkzMzM0MDUzMzY="
 category="Comments"
 category-id="DIC_kwDOE99cmM4CVDXo"
 mapping="title"
 strict="0"
 reactions-enabled="1"
 emit-metadata="1"
 input-position="bottom"
 theme="light"
 lang="en"
 loading="lazy"
 crossorigin="anonymous"
 reactionsEnabled = "1"

[params.assets]
    favicon = "img/favicon.ico"



[frontmatter]
  author = "Daniel Borek"
  github = "danieltomasz"
  facebook = ""
  og_image = ""
  sitename = ""
  twitter = "danieltomasz"
  date = ["date", "publishDate", "lastmod"]
  lastmod = [  "lastmod", ":git", "date", ]
  publishDate = ["publishDate", "date"]
  expiryDate = ["expiryDate"]
#disableKinds = ["section", "categories"]


disqusShortname = ""
pygmentsStyle = "pygments"
pygmentsCodefences = true
pygmentsuseclasses = false


#pygmentsUseClasses = true
paginate = 999
minify = true

ignoreFiles = [ "\\.qmd$", "\\.ipynb$", "\\.py$" ]

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark.renderer]
    unsafe = true
  [markup.highlight]
    # one of: https://xyproto.github.io/splash/docs/
    style = "github"
    linenos = false
    lineNumbersInTable = false
    linenostart = false
    noClasses = true

[taxonomies]
  tag = "tags"
  author = "authors"


[permalinks]
#  posts = "/:year/:month/:day/:filename"
  posts = "/:year/:month/:contentbasename"
  pages = "/:slug"

[outputs]
  home = ["HTML", "RSS", "JSON"]
  section = ["HTML"]

[outputFormats.RSS]
  mediatype = "application/rss"
  baseName = "atom"

[outputFormats.JSON]
  mediatype = "application/json"
  baseName = "feed"

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[menu]
  [[menu.main]]
    identifier = "index"
    name       = "about"
    url        = "/"
    weight     = -200

  [[menu.main]]
    identifier = "blog"
    name       = "index"
    url        = "/posts/"
    weight     = -100

  [[menu.main]]
    identifier = "rss"
    name       = "rss"
    url        = "/atom.xml"
    weight     = -10


[[params.social]]
  name = "github"
  link = "https://github.com/danieltomasz"
[[params.social]]
  name = "linkedin"
  link = "https://www.linkedin.com/in/daniel-borek-209003a6/"
  [[params.social]]
  name = "twitter"
  link = "https://www.twitter.com/danieltomasz"


[privacy]
  [privacy.x]
    disable = false
    # Remove any [privacy.twitter] section if it exists
