<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      {{ $date := .Date.Format "02.01.2006" }}
      {{ $lastmod := .Lastmod.Format "02.01.2006" }}

      <p class="meta">

        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat " January 02, 2006" .Date }}</time> &bull; 
        {{ partial "tags.html" .}}
        {{/*  %{{ if ne $lastmod $date }}  */}}
             <span class="date-info italic"> <br> Edited on {{ .Lastmod.Format "02.01.2006" }}</span>
         {{/*  {{ end }}  */}}
        </p>


      {{ end }}

      <span itemprop="articleBody">
      {{ .Content }}
      </span>
       

    </section>
    {{ partial "footer_giscus.html" . }}
  </main>
</body>

