{{ define "main" }}
    <div class="post">
        <h1><i class="fas fa-tags"></i> {{ .Title }}</h1>
        {{ .Content }}

    <!-- create a list with all uppercase letters -->
    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

    <!-- range all pages sorted by their title -->
    {{ range sort .Site.Taxonomies.tags }}
      <!-- get the first character of each title. Assumes that the title is never empty! -->
      {{ $firstChar := substr .Page.Title 0 1 | upper }}

      <!-- in case $firstChar is a letter -->
      {{ if $firstChar | in $letters }}
        <!-- get the current letter -->
        {{ $curLetter := $.Scratch.Get "curLetter" }}
        <!-- if $curLetter isn't set or the letter has changed -->
        {{ if ne $firstChar $curLetter }}
        <!-- update the current letter and print it -->
          {{ $.Scratch.Set "curLetter" $firstChar }}
          <span class="letter">{{ $firstChar }}</span><br />
        {{ end }}

       <a class="badge badge-tag-list-page" href="{{ .Page.Permalink }}"><i class="fas fa-tags"></i> {{ .Page.Title }} ({{ .Count }})</a>
      {{ end }}
    {{ end }}
    </div>
{{ end }}
